<!DOCTYPE html>
<html>
<head>
<style>
h1 {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        text-align: center;
    }

    /* Add a background color when the inputs get focus */
h1:focus {
        background-color: #ddd;
        outline: none;
          }
</style>
</head>
<body>
  <p>
<img src="https://toys.amazingcdn.space/catalog/product/cache/4/image/700x700/9df78eab33525d08d6e5fb8d27136e95/6/4/1497550762-64442202811_3.jpg" style="float:left;width:42px;height:42px;">
<h1>welcom {{session['userName'] }} for room {{ session['room'] }}</h1>
</p>
</body>
</html>
