<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div align="center" id="rooms">
    <h1>Rooms</h1>
    <form method="post" name="roomForm">
        <input type="hidden" name="roomNumber" />
        <button type="submit" onclick="window.roomForm.roomNumber.value = 1;">Room Number 1</button>
        <button type="submit" onclick="window.roomForm.roomNumber.value = 2;">Room Number 2</button>
        <button type="submit" onclick="window.roomForm.roomNumber.value = 3;">Room Number 3</button>
        <button type="submit" onclick="window.roomForm.roomNumber.value = 4;">Room Number 4</button>
        <button type="button" onclick="">add one</button>
    </form>
</div>
</body>
</html>
